/*---------HTML FONDO---------*/
html {
  background-image: url(./assets/fondo.jpg);
  background-repeat: round;
}
/*-------HEADER Y MAIN--------*/
.header,
.main {
  margin-left: 3%;
  margin-right: 3%;
}

/*-------------BODY-----------*/
.body {
  margin: 0;
}

/*---------TITULO MDHL--------*/
.titulo {
  font-style: oblique;
  display: contents;
  font-size: 3vw;
  color: rgb(250, 112, 88);
}

/*-------BANNER IMAGEN--------*/
.banner {
  border-radius: 30px;
  width: 80vw;
  height: 50vh;
  border-color: rgb(250, 112, 88);
  border-style: double;
  background-image: url(./assets/design1_image1.jpg);
  background-size: cover;
  background-position: center;
}

/*--------LOGO DERECHA--------*/
.logo {
  width: 16%;
  position: absolute;
  right: 2%;
  left: 84%;
}

/*------IMAGENES DERECHA------*/
.container-imgsderecha {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  margin-top: 0.5%;
  margin-top: 15.5%;
}
.img-der {
  width: 16%;
  right: 2%;
  left: 84%;
  margin-bottom: 1%;
  margin-right: 0.2%;
  margin-top: 0;
  border-radius: 10px;
  transition: 1s;
  border-radius: 10px;
}
.img-transf:hover {
  transform: scale3d(200%, 200%, 200) translateX(-50%);
}

/*------CONTAINER HEADER------*/
.container-header {
  display: flex;
  flex-direction: column;
  position: static;
}

/*------------NAV-------------*/
.container-nav {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  position: absolute;
  border-style: outset;
  border-color: #fa7058;
  border-radius: 10px;
}

/*-------BOTONES DEL NAV------*/
.btn,
.btn2 {
  margin: 3%;
  border-radius: 10px;
  text-decoration-line: none;
  text-align: center;
  background-color: rgb(241, 219, 118);
  color: rgb(194, 68, 68);
  border-width: 3px;
  border-style: solid;
  border-color: rgb(250, 112, 88);
  padding: 4px 10px;
  box-shadow: 4px 4px 4px gray;
  font-size: 150%;
}

.btn2 {
  background-color: rgb(255, 89, 0, 50%);
  color: rgb(245 245 245);
}

/*----------SUBTITULO---------*/
.subtitulo {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  margin-left: 20vh;
  margin-right: 15%;
  border-style: solid;
  border-color: rgb(250, 112, 88);
  text-align: center;
  border-radius: 10px;
  color: rgb(250, 112, 88);
  background-color: rgb(243, 226, 181);
}

#h2 {
  margin: 0.5%;
}

/*----------SECTION-----------*/
.conteiner-section {
  display: flex;
  flex-direction: row;
  color: rgb(53, 122, 113);
}

/*-----IMAGEN DEL SECTION-----*/
.foto-section {
  border-radius: 25px;
  margin-top: 0.5%;
  width: 25vw;
  height: 35vh;
  margin-left: 20vh;
}

/*---------ARTICULOS----------*/
.article {
  padding-left: 1%;
  padding-right: 15%;
}

.h2-sect {
  margin-left: 20px;
}
.h3-art {
  font-size: 25px;
  margin-bottom: -0.8rem;
}
.p-art {
  font-size: 20px;
  text-indent: 20px;
}
.h3-cont {
  font-weight: normal;
  margin-bottom: -0.8rem;
}
.a{
  text-decoration: none;
}
/*--------LOGO DE ABAJO-------*/
.logo2 {
  width: 10%;
  position: fixed;
  z-index: 2;
  bottom: -2%;
  right: 10px;
  transition: 1s;
}
.img-logo:hover {
  transform: scale(80%);
}

/*-----------FOOTER-----------*/
.container-footer {
  background-color: #58aaad;
  margin-top: 5%;
  margin-bottom: 0;
}
.p-footer {
  color: rgb(53, 116, 105);
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin-bottom: -1.5%;
  padding-bottom: 7px;
  padding-top: 7px;
}
.span-footer {
  font-weight: bold;
  color: #9be0ec;
}

