.sec-registro {
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 2%;
}

.fset-registro {
}

.div-label {
  /* padding: 1%;
  margin: 1%;
  display: flex;
  align-items: center;
  font-size: 150%;
  flex-direction: row; */
  margin-bottom: 1.5%;
  display: initial;
}

.legend {
  margin-bottom: 2%;
  color: #58aaad;
  font-size: 160%;
  text-align: center;
  border-style: solid;
  border-radius: 10px 10px 0px 0px;
}

.label {
  color: #58aaad;
  padding-left: 2%;
  font-size: 150%;
}

.input {
  border-radius: 5px;
  font-size: 90%;
  padding: 0.5%;
  margin: 0.5%;
}
