.article-rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20vh;
  margin-right: 28vh;
  color: rgb(53, 122, 113);
}

.lista2 {
  list-style: lower-alpha;
  margin: 1%;
}

.lista3 {
  list-style: circle;
  margin: 1%;
}

.titulos-rules {
  text-align: center;
  margin: 1%;
}
.h2-rules-1 {

  font-size: 150%;
  margin-top: 0%;
  margin-bottom: 0;
  margin-top: 4%;
  text-align: center;
}

.h2-rules-2 {
  font-size: 150%;
  margin-top: 0%;
  margin-bottom: 0;
  margin: 1%;
}
